*, 
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'TickingTimebomb';
    src: url('TickingTimebombBB.ttf')  format('truetype');
}

body {
    background-color: #efeeee;
}

input {
    background-color: #c2c1a8;
    border: #73716e solid 3px;
    border-radius: 3px;
    font-family: 'TickingTimebomb';
    font-size: 60px;
    padding: 10px 10px 0px;
    text-align: right;
    width: 100%;
    box-shadow: rgb(0 0 0 / 35%) 0px -50px 36px -28px inset;
    height: 60px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus{
    outline: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 1px, 
                rgba(0, 0, 0, 0.09) 0px 1px 2px, 
                rgba(0, 0, 0, 0.09) 0px 2px 4px, 
                rgba(0, 0, 0, 0.09) 0px 4px 8px, 
                rgba(0, 0, 0, 0.09) 0px 8px 16px;
	background: linear-gradient(to bottom, #ffffff 5%, #ebebeb 100%);
	background-color: #ffffff;
    border: none;
	border-radius: 5px;
	display: inline-block;
	cursor: pointer;
	color: #6b6b6b;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 11px 23px;
	text-decoration: none;
	text-shadow: 0px -1px 0px #ededed;
    width: 70px;
    margin: 0 5px 10px 0;
    border: solid thin #cacaca;
}

button:hover {
	background: linear-gradient(to bottom, #ebebeb 5%, #ffffff 100%);
	background-color: #ebebeb;
}

.d-flex {
    display: flex;
}

.btn-dark-grey {
	background: linear-gradient(to bottom, #6b6b6b 5%, #2e2e2e 100%);
	background-color: #6b6b6b;
	border-radius: 5px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 11px 23px;
	text-decoration: none;
	text-shadow: 0px -1px 0px #707070;
    border: #a1a1a1 solid thin;
}

.btn-dark-grey:hover {
	background: linear-gradient(to bottom, #2e2e2e 5%, #6b6b6b 100%);
	background-color: #2e2e2e;
}

.btn-grey {
	background: linear-gradient(to bottom, #b8b8b8 5%, #696969 100%);
	background-color: #b8b8b8;
	border-radius: 5px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 11px 23px;
	text-decoration: none;
	text-shadow: 0px -1px 0px #757575;
    border: #a1a1a1 solid thin;
}

.btn-grey:hover {
	background: linear-gradient(to bottom, #696969 5%, #b8b8b8 100%);
	background-color: #696969;
}

.btn-red {
	background: linear-gradient(to bottom, #ff968f 5%, #f05922 100%);
	background-color: #ff968f;
	border-radius: 5px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 11px 23px;
	text-decoration: none;
	text-shadow: 0px -1px 0px #ff1100;
    border: #a1a1a1 solid thin;
}

.btn-red:hover {
	background: linear-gradient(to bottom, #f05922 5%, #ff968f 100%);
	background-color: #f05922;   
}

.btn-longer {
    width: 149px;
}

.btn-higher  {
    height: 95px;
}

.btn-longer + button {
    margin-right: 0;
}

.container {
    width: 310px;
}

.container button:nth-child(4n) {
    margin-right: 0;
}

.input-container {
    border-radius: 6px;
    padding: 3px;
    margin-bottom: 20px;
    background: linear-gradient(to bottom,  #565656 0%,#bababa 7%,#bababa 92%,#ffffff 100%);
}

.numbers {
    width: 230px;
    margin-right: 5px;
}

.numbers button:nth-child(4n) {
    margin-right: 5px;
}

.numbers button:nth-child(3n) {
    margin-right: 0;
}

.numbers + div {
    width: 70px;
}